* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Lucida Grande";
  }
  
  a {
    text-decoration: none;
  }

  li {
    list-style: none;
    float: right;
    padding : 33px 20px;
  }
  
  .header-list a:hover{
      cursor: pointer;
      background-color: #ffffff;
  }
  

  /* header */
  .header {
    width: 100%;
    background-color: #ffa2afd2;
    color: rgb(17, 1, 1);
    height: 85px;
    position: fixed;
    top: 0;
    z-index: 10;
    opacity: 90%;
  }
  
  .header-logo {
    float: left;
    font-size: 36px;
    padding : 20px 20px;
  }
  
  .header-logo img{
      width: 150px;
  }

  /* headline atas */

  /* konten */

  /* tambahan di bawah */

  /* footer */
  .footer {
    height: 90px;
    background-color: #ffa2afd2;
    color: #fff;
}

  .footer-logo img {
    width: 130px;
    float: left;
    padding: 30px 20px;
}

  .footer-p {
  color: #fff;
  text-align: center;
  padding-top: 60px;
  padding-right: 120px;
}
