* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Lucida Grande";
  }
  
  a {
    text-decoration: none;
  }

  li {
    list-style: none;
    float: right;
    padding : 33px 20px;
  }
  
  li:hover{
      cursor: pointer;
      background-color: #ffffff;
  }
  

  /* header */
  .header {
    background-color: #ffa2afd2;
    color: rgb(17, 1, 1);
    height: 90px;
  }
  
  .header-logo {
    float: left;
    font-size: 36px;
    padding : 20px 20px;
  }
  
  .header-logo img{
      width: 150px;
  }

  /* headline atas */

  /* konten */

  /* tambahan di bawah */

  /* footer */
  .footer {
    background-color: #ffa2afd2;
    width: 100%;
    height: 120px;
    padding: 40px;
}

  .footer-logo {
    width: 130px;
    float: left;
}

  .rights-text {
  color: #fff;
  font-family: lato;
  font-size: 0.4cm;
  position: absolute;
  width: 100%;
  line-height: 40px;
  text-align: center;
  bottom:0;
  margin: 0;
  padding: 0;
}
